@media only screen and (max-device-width : 480px) {
  .app-layout {
    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-device-width : 481px) and (max-device-width: 1024px) {
  .app-layout {
    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-device-width : 1025px) and (max-device-width: 1440px) {
  .app-layout {
    margin: 0 10%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-device-width : 1441px) {
  .app-layout {
    margin: 0 15%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
  }
}